@{
    ViewData["Title"] = "Home Page";
}

<h1>Restaurant Review</h1>
<div id="content"></div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js">
    </script>
    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/Address.jsx"></script>
    <script src="~/Scripts/RestaurantReview.jsx"></script>
    <script src="~/Scripts/Reviews.jsx"></script>
    <script src="~/Scripts/Lab8.jsx"></script>
}
